@model WebAppVinyl.ViewModels.VinylsViewModel
@{
    ViewBag.Title = "MyCart";
}

<h2>My Cart</h2>


<table id="vinyls" class="table table-bordered table-hover">
    <ul>
        @foreach (var vinyl in Model.VinylToBuy)
        {
            <li>
                @*<li>@gig.DateTime - @gig.Artist.Name</li>*@
                <div class="">
                    <div>@vinyl.Artist</div>
                    <div>@vinyl.Title</div>
                    <div>@vinyl.ReleaseYear</div>
                    <div>@vinyl.Label.Name</div>
                    <div>@vinyl.Price $</div>

                    <span data-vinyl-id="@vinyl.Id" class="btn btn-default btn-sm pull-right js-toggle-cart">
                        @Html.ActionLink("Remove From Cart", "Delete", "Carts", new { id = vinyl.Id }, null)
                    </span>
                    @*<span>
                        <button data-vinyl-id="@vinyl.Id" class="btn btn-default btn-sm pull-right js-toggle-cart">Remove From Cart</button>
                    </span>*@
                </div>
                
            </li>
        }
    </ul>
</table>



@*@section scripts
{
    <script>
        $(document).ready(function () {
            
            $("#vinyls").on("click", ".js-delete", function () {
                let button = $(this);

                bootbox.confirm("Remove From Cart?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/carts/" + button.attr("data-vinyl-id"),
                            method: "DeleteFromCart",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}*@
