@model IEnumerable<WebAppVinyl.Models.Vinyl>
@{
    ViewBag.Title = "Index";
}

<h2>Vinyl Collection</h2>

<table id="vinyls" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Release Year</th>
            <th>Label</th>
            <th>Genre</th>
            <th>Price</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vinyl in Model)
        {
            <tr>
                <td>@Html.ActionLink(vinyl.Artist, "Edit", "Vinyls", new { id = vinyl.Id }, null)</td>
                <td>@vinyl.Title</td>
                <td>@vinyl.ReleaseYear</td>
                <td>@vinyl.Label.Name</td>
                <td>@vinyl.Genre.Name</td>
                <td>@vinyl.Price  $</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Vinyls", new { id = vinyl.Id }, null)
                    @*@Html.ActionLink("Delete", "Delete", "Vinyls", null, new { @class = "btn btn-primary" })*@
                    @*<button data-viewer-id="@vinyl.Id" class="btn-link js-delete">Delete</button>*@
                </td>
                <td> @Html.ActionLink("Details", "Details", "Vinyls", new { id = vinyl.Id }, null)</td>
                <td><button data-vinyl-id="@vinyl.Id" class="btn btn-default btn-sm pull-right js-toggle-cart">Add To Cart</button></td>
            </tr>
        }
    </tbody>
</table>


<p>
    @Html.ActionLink("New Vinyl", "Create", "Vinyls", null, new { @class = "btn btn-primary" })
</p>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-cart").click(function (e) {
                var button = $(e.target)
                $.post("/api/carts", { vinylId: button.attr("data-vinyl-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Added");
                    })
                    .failed(function () {
                        alert("Something Failed")
                    });
            });


            //$(".js-toggle-following").click(function (e) {
            //    var button = $(e.target)
            //    $.post("/api/followings", { gigArtistId: button.attr("data-followee-id") })
            //        .done(function () {
            //            button
            //                .removeClass("btn-default")
            //                .addClass("btn-info")
            //                .text("Following");
            //        })
            //        .failed(function () {
            //            alert("Something Failed")
            //        });
            //});
        });


    </script>
}

